Repository aidemos/azureml-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/mnist-batchscoring-ci.yml, .pipelines/mnist-training-ci.yml

.pipelines/mnist-batchscoring-ci.yml:

# Continuous Integration (CI) pipeline that orchestrates the batch scoring of the diabetes_regression model.

# Trigger this pipeline on model-train pipeline completion
resources:
  containers:
  - container: mlops
    image: mcr.microsoft.com/mlops/python:latest
    
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - mnist/inferencing/digit_identification.py
    - ml_service/pipelines/mnist_build_parallel_batchscore_pipeline.py

variables:
- template: diabetes_regression-variables-template.yml
- group: devopsforai-aml-vg

pool:
  vmImage: ubuntu-latest

stages:
- stage: 'Batch_Scoring_Pipeline_CI'
  displayName: 'Batch Scoring Pipeline CI'
  jobs:
  - job: "Build_Batch_Scoring_Pipeline"
    displayName: "Build Batch Scoring Pipeline"
    container: mlops
    timeoutInMinutes: 0
    steps:
    - task: AzureCLI@1
      displayName: "Publish Batch Scoring Pipeline"
      name: publish_batchscore
      inputs:
        azureSubscription: '$(WORKSPACE_SVC_CONNECTION)'        
        scriptLocation: inlineScript
        workingDirectory: $(Build.SourcesDirectory)
        inlineScript: |
          set -e # fail on error
          export SUBSCRIPTION_ID=$(az account show --query id -o tsv)
          # Invoke the Python building and publishing a training pipeline
          python -m ml_service.pipelines.mnist_build_parallel_batchscore_pipeline

.pipelines/mnist-training-ci.yml:

# Continuous Integration (CI) pipeline that orchestrates the training of the mnist model.

# Trigger this pipeline on model-train pipeline completion
resources:
  containers:
  - container: mlops
    image: mcr.microsoft.com/mlops/python:latest
    
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - mnist/training/train.py
    - ml_service/pipelines/mnist_build_training_pipeline.py

variables:
- group: devopsforai-aml-vg

pool:
  vmImage: ubuntu-latest

stages:
- stage: 'Training_Pipeline_CI'
  displayName: 'Training Pipeline CI'
  jobs:
  - job: "Build_Training_Pipeline"
    displayName: "Build Training Pipeline"
    container: mlops
    timeoutInMinutes: 0
    steps:
    - task: AzureCLI@1
      displayName: "Publish Training Pipeline"
      name: publish_batchscore
      inputs:
        azureSubscription: '$(WORKSPACE_SVC_CONNECTION)'        
        scriptLocation: inlineScript
        workingDirectory: $(Build.SourcesDirectory)
        inlineScript: |
          set -e # fail on error
          export SUBSCRIPTION_ID=$(az account show --query id -o tsv)
          # Invoke the Python building and publishing a training pipeline
          pip install azureml.opendatasets --user
          python -m ml_service.pipelines.mnist_build_training_pipeline

modularised
  ml_service/pipelines/mnist_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/mnist_build_training_pipeline.py
  ml_service/util/aml_helper.py
Due: .pipelines/mnist-batchscoring-ci.yml, .pipelines/mnist-training-ci.yml

updated experiment name
  ml_service/pipelines/mnist_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/mnist_build_training_pipeline.py
  ml_service/util/aml_helper.py
Due: .pipelines/mnist-batchscoring-ci.yml, .pipelines/mnist-training-ci.yml

passed pipeline id
  ml_service/util/aml_helper.py
Due: none

changes to datasets
  ml_service/pipelines/mnist_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/mnist_build_training_pipeline.py
  ml_service/util/aml_helper.py
Due: .pipelines/mnist-batchscoring-ci.yml, .pipelines/mnist-training-ci.yml

dataset changes
  ml_service/pipelines/mnist_build_training_pipeline.py
Due: .pipelines/mnist-training-ci.yml

model registry
  mnist/training/train.py
Due: .pipelines/mnist-training-ci.yml

refactoring
  .pipelines/mnist-batchscoring-ci.yml
  .pipelines/mnist-training-ci.yml
  ml_service/pipelines/mnist_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/mnist_build_training_pipeline.py
Due: .pipelines/mnist-batchscoring-ci.yml, .pipelines/mnist-training-ci.yml

Update README.md
  README.md
Due: none

first draft
  .pipelines/mnist-endpoint-cd.yml
  ml_service/endpoints/.amlignore
  ml_service/endpoints/.azureml/aml-ci
  ml_service/endpoints/.azureml/amlpocci
  ml_service/endpoints/.azureml/conda_dependencies.yml
  ml_service/endpoints/.azureml/config.json
  ml_service/endpoints/.azureml/cpu-cluster
  ml_service/endpoints/.azureml/docker
  ml_service/endpoints/.azureml/harmke-compute
  ml_service/endpoints/.azureml/local
  ml_service/endpoints/conda_dependencies.yml
  ml_service/endpoints/deployment_config_aks.yml
  ml_service/endpoints/inference_config.yml
  ml_service/endpoints/score.py
Due: none

cd pipeline updated
  .pipelines/mnist-endpoint-cd.yml
Due: none

cd
  .pipelines/mnist-endpoint-cd.yml
Due: none

added script for compute target
  .pipelines/mnist-endpoint-cd.yml
Due: none

fixing bug
  .pipelines/mnist-endpoint-cd.yml
Due: none

cd pipeline changes
  .pipelines/mnist-endpoint-cd.yml
Due: none

added variables
  .pipelines/mnist-endpoint-cd.yml
Due: none

included .amlignore
  .gitignore
Due: none

Delete ml_service/endpoints/.azureml directory
  ml_service/endpoints/.azureml/aml-ci
  ml_service/endpoints/.azureml/amlpocci
  ml_service/endpoints/.azureml/conda_dependencies.yml
  ml_service/endpoints/.azureml/config.json
  ml_service/endpoints/.azureml/cpu-cluster
  ml_service/endpoints/.azureml/docker
  ml_service/endpoints/.azureml/harmke-compute
  ml_service/endpoints/.azureml/local
Due: none

.amlignore
  .gitignore
Due: none

Delete .amlignore
  ml_service/endpoints/.amlignore
Due: none

updated gitignore
  .gitignore
Due: none

updated variables
  .pipelines/mnist-endpoint-cd.yml
Due: none
